* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
}

body {
    font-family: sans-serif;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(45deg, rgb(199, 225, 241), rgb(107, 128, 123));
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.todo_wrapp {
    width: 500px;
    height: 650px;
    padding: 20px 0;
    background-color: #ffffff50;
    box-shadow: 0 0 15px rgb(147, 158, 161);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper {
    position: relative;
    width: 80%;
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
}

.wrapper::-webkit-scrollbar {
    background: transparent;
    width: 5px;
}

.wrapper::-webkit-scrollbar-thumb {
    background-color: rgb(107, 128, 123);
}

.add_todo {
    padding: .5rem 1rem;
    margin: 10px 0;
    background-color: rgb(80, 124, 207);
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    transition: all .2s ease-in-out;
    border-radius: 5px;
}

.add_todo:hover {
    background-color: rgb(38, 113, 253);
}

.item {
    width: 80%;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.692);
    margin: 10px 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border-radius: 15px;
    border-bottom: 2px solid grey;
    cursor: move;
}

.item .input {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.item::after {
    content: '⇡⇣';
    position: absolute;
    right: 50px;
    cursor: pointer;
}

.delete {
    position: absolute;
    right: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}

.item.dragging {
    opacity: .2;
}

@media screen and (max-width: 500px) {
    .todo_wrapp {
        width: 100%;
        padding: 10px 0;
    }

    .wrapper {
        position: relative;
        width: 90%;
    }

    .add_todo {
        font-size: .9em;
    }

    .item {
        width: 75%;
        height: 30px;
        margin: 10px 0;
        padding-left: 10px;
    }
}